@model QuanLySinhVien.Models.Course
<h2>Thêm Khóa Học Mới</h2>
<form method="post">
    <div class="mb-3">
        <label>Tên khóa học:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Lưu lại</button>
</form>